@media (min-width: 541px) and (max-width: 720px) {
    
    .header {
        font-size: 0.8rem;
        padding-bottom: 260px;

            .header--nohtml {
                font-size: 0.8rem;
                padding-bottom: 0px;
            }
            
            .header__imagenCabecera {
                width: 500px;
                height: 300px;
            }
        
            .header__tituloPrincipal {
                font-size: 2rem;
            }

            li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
    
    }

    main {
        .main__titulo {
            font-size: 1.5rem;
        }
    
        .main__subtituloUno {
            font-size: 1rem;
        }
    
    
        .main__subtituloDos {
            text-align: center;
        }
        
        .grid__imagenes {
            grid-template-areas: "h h "
                                "m m "
                                "f f ";
                                .prodImag {
                                    height: 11.5rem;
                                    width: 11.5rem;
                                }
                            
        }

    }



}
 


@media (min-width: 320px) and (max-width: 540px) {

    .header {
        font-size: 0.8rem;
        padding-bottom: 260px;

        .header--nohtml {
            font-size: 0.8rem;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        
        .header__imagenCabecera {
            width: 500px;
            height: 300px;
        }
    
        .header__tituloPrincipal {
            font-size: 2rem;
        }
    
    
        li {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    main {
        .main__titulo {
            font-size: 1.5rem;
        }
    
        .main__subtituloUno {
            font-size: 1rem;
        }
    
    
    
        .grid__imagenes {
            grid-template-areas: "h "
                                "m "
                                "f ";
                                .prodImag {
                                    width: 11.5rem;
                                    height: 11.5rem;
                            
                                }
        }   

    }
    
    










}