
@media (min-width: 960px) and (max-width: 1200px) {
    main {
        .grid__imagenes {
            grid-template-areas: "h h h"
                                "m m m"
                                "f f f"
        }                       
    }
}


@media (min-width: 600px) and (max-width: 959px) {
    
    .header {
        font-size: 0.8rem;
 

            .header--nohtml {
                font-size: 0.8rem;
                padding-bottom: 0rem;
            }
            
            .header__imagenCabecera {
                width: 31.25rem;
                height: 18.75rem;
            }
        
            .header__tituloPrincipal {
                font-size: 2rem;
            }

            li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
    
    }

    main {
        .main__titulo {
            font-size: 1.5rem;
        }
    
        .main__subtituloUno {
            font-size: 1rem;
        }
    
    
        .main__subtituloDos {
            text-align: center;
        }
        
        .grid__imagenes {
            grid-template-areas: "h h "
                                "m m "
                                "f f ";
            padding-left: 17%;

                            
        }

    }



}
 


@media (min-width: 320px) and (max-width: 599px) {

    .header {

        .header--nohtml {
            font-size: 0.8rem;
        }
        
        .header__imagenCabecera {
            display: none;
        }
    
        .header__tituloPrincipal {
            font-size: 2rem;
        }
    
    
        li {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    main {
        .main__titulo {
            font-size: 1.5rem;
        }
    
        .main__subtituloUno {
            font-size: 1rem;
        }
    
    
    
        .grid__imagenes {
            grid-template-areas: "h "
                                "m "
                                "f ";
            padding-left: 30%;

                    
        }   

    }
    
    










}